@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&display=swap");

:root {
    --copper-color: #aa805f;
    --copper-darker: #8b5a2b;
    --darker-color: rgb(15, 28, 46);
    --light-variant: rgba(255, 255, 255, 0.3);
    --gray-variant: rgba(128, 128, 128, 0.4);
    --secondary-font: "Montserrat", sans-serif;
    --principal-font: "Times New Roman", Times, serif;
    --signature: "Corinthia", cursive;
}

html {
    scroll-behavior: smooth;
}

body,
.bg-image,
.bg-faq {
    color: var(--darker-color);
    background-image: url(../images/dentist.webp);
    background-color: var(--gray-variant);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    backdrop-filter: blur(5px);
}

.bg-image {
    background-image: url(../images/consultDentist.webp);
    background-size: cover;
}

.bg-faq {
    background-image: url(../images/FAQ.webp);
}

.glassmorphism {
    background-color: transparent;
    backdrop-filter: blur(10px);
}

.border-bottom {
    border-bottom: 1px solid var(--light-variant);
}

.copper {
    color: var(--copper-color);
}

.copper-border {
    border-color: var(--copper-color);
}

.btn-consult {
    background: var(--copper-color);
}

.btn-consult:hover {
    background: var(--copper-darker);
    color: white;
}

.lead {
    font-weight: 400;
}

.signature {
    font-family: var(--signature);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--principal-font);
    font-weight: 600;
}

p,
a,
li span {
    font-family: var(--secondary-font);
}

.nav-li li a:hover {
    color: var(--copper-color);
}

footer {
    background-color: var(--darker-color);
}

@media (max-width: 1024px) {
    body {
        background-image: none;
    }

    .isHidden {
        display: none;
    }
}
